<section class="category">
    <div class="container">
        <span class="category__title-name">love story</span>
        <ul class="category__list flex-box">
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img big-card" src="images/storu-card(4).jpg" alt="love story photo"></a> 
                <span class="category__name big-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img big-card" src="images/storu-card(4).jpg" alt="love story photo"></a> 
                <span class="category__name big-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="love story photo"></a>
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="love story photo"></a>
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="love story photo"></a>
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="love story photo"></a> 
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="love story photo"></a>
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
            <li class="category__item item-card">
                <a href="story.html"><img class="category__img small-card" src="images/storu-card(4).jpg" alt="story-photo"></a> 
                <span class="category__name small-name">Ekaterina & Alexander</span>
                <span class="category__location location">Museum</span>
            </li>
        </ul>
    </div>
</section>