<section class="contact">
    <div class="container">
        <div class="contact__box">
            <div class="contact__text">
                <span class="contact__welcome">Welcome to my website!</span>
                <div class="contact__about">
                    <p>
                        I am a professional photographer with a lot of experience and a huge number of shootings in
                        various fields: from family evenings in a narrow circle to grand weddings;
                        from advertising for street cafes to upscale restaurants.
                    </p>
                    <p>
                        I treat every shoot with great trepidation and love, because I do what I love and
                        I get  great pleasure when the result pleases you.
                    </p>
                    <p>
                        You can order a photo session or wedding shoot by contacting me by phone or on social media. You
                        can ask me any question about the shooting or find out the prices - I am always open
                        for new ideas and will be happy to answer you.
                    </p>
                </div>
            </div>
            <div class="contact__info">
                <img class="contact__photo" src="" alt="photo of the photographer">
                <span class="contact__name">Name Name</span>
            </div>
        </div>
    </div>
</section>