<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <ul class="footer__menu">
                <li class="footer__item">
                    <a class="footer__button" href="index.html">Stories</a>
                </li>
                <li class="footer__item">
                    <a class="footer__button" href="wedding.html">Wediing</a>
                </li>
                <li class="footer__item">
                    <a class="footer__button" href="portfolio.html">Portfolio</a>
                </li>
                <li class="footer__item">
                    <a class="footer__button" href="bussines.html">Business</a>
                </li>
                <li class="footer__item">
                    <a class="footer__button" href="contacts.html">Contact</a>
                </li>
            </ul>
            <div class="footer__contact">
                <a class="footer__icons footer__icons--instagram" href="#" target="_blank"></a>
                <a class="footer__icons footer__icons--facebook" href="#" target="_blank"></a>
                <a class="footer__tell" href="tel:380934319186">+38 000 444 99 99</a>
            </div>
        </div>
    </div>
</footer>