<section class="history">
    <div class="container">
        <ul class="history__list flex-box">
            <li class="history__item item-card">
                <a href="story.html"><img class="history__img big-card" src="images/storu-card(1).jpg" alt="main story photo"></a>
                <span class="history__name big-name">Ekaterina & Alexander</span>
                <span class="history__location location">Museum</span>
            </li>
            <li class="history__item item-card">
                <a href="story.html"><img class="history__img big-card" src="images/storu-card(1).jpg" alt="main story photo"></a>
                <span class="history__name big-name">Ekaterina & Alexander</span>
                <span class="history__location location">Museum</span>
            </li>
            <li class="history__item item-card">
                <a href="story.html"><img class="history__img small-card" src="images/storu-card(1).jpg" alt="main story photo"></a>
                <span class="history__name small-name">Ekaterina & Alexander</span>
                <span class="history__location location">Museum</span>
            </li>
            <li class="history__item item-card">
                <a href="story.html"><img class="history__img small-card" src="images/storu-card(1).jpg" alt="main story photo"></a>
                <span class="history__name small-name">Ekaterina & Alexander</span>
                <span class="history__location location">Museum</span>
            </li>
            <li class="history__item item-card">
                <a href="story.html"><img class="history__img small-card" src="images/storu-card(1).jpg" alt="main story photo"></a>
                <span class="history__name small-name">Ekaterina & Alexander</span>
                <span class="history__location location">Museum</span>
            </li>
        </ul>
    </div>
</section>