<section class="portfolio">
    <div class="container">
        <ul class="portfolio__list">
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a> 
                <span class="portfolio__name small-name">Love Story</span>
            </li>
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a> 
                <span class="portfolio__name small-name">Love Story</span>
            </li>
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a>
                <span class="portfolio__name small-name">Love Story</span>
            </li>
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a>
                <span class="portfolio__name small-name">Love Story</span>
            </li>
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a>
                <span class="portfolio__name small-name">Love Story</span>
            </li>
            <li class="portfolio__item">
                <a href="category.html"><img class="portfolio__img small-card" src="images/storu-card(3).jpg" alt="category photo"></a> 
                <span class="portfolio__name small-name">Love Story</span>
            </li>
        </ul>
    </div>
</section>