<section class="story">
    <img class="story__img" src="images/main-story-img.jpg" alt="main photo of the story">
    <div class="container">
        <div class="story__info">
            <span class="story__title big-name">Ekaterina & Alexander</span>
            <span class="story__location location">Museum</span>
        </div>
        <ul class="story__list">
            <li class="story__item">
                <img class="story__photo" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__photo" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__photo" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__photo" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__photo" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__small-photo big-card" src="images/story-img.jpg" alt="photo of the story">
            </li>
            <li class="story__item">
                <img class="story__small-photo big-card" src="images/story-img.jpg" alt="photo of the story">
            </li>
        </ul>
    </div>
</section>