<section class="wedding">
    <div class="container">
        <ul class="wedding__list flex-box">
            <li class="wedding__item item-card">
                <a href="story.html"><img class="wedding__img big-card" src="images/storu-card(2).jpg" alt="main wedding photo"></a> 
                <span class="wedding__name big-name">Ekaterina & Alexander</span>
            </li>
            <li class="wedding__item item-card">
                <a href="story.html"><img class="wedding__img big-card" src="images/storu-card(2).jpg" alt="main wedding photo"></a> 
                <span class="wedding__name big-name">Ekaterina & Alexander</span>
            </li>
            <li class="wedding__item item-card">
                <a href="story.html"><img class="wedding__img small-card" src="images/storu-card(2).jpg" alt="main wedding photo"></a>
                <span class="wedding__name small-name">Ekaterina & Alexander</span>
            </li>
            <li class="wedding__item item-card">
                <a href="story.html"><img class="wedding__img small-card" src="images/storu-card(2).jpg" alt="main wedding photo"></a>
                <span class="wedding__name small-name">Ekaterina & Alexander</span>
            </li>
            <li class="wedding__item item-card">
                <a href="story.html"><img class="wedding__img small-card" src="images/storu-card(2).jpg" alt="main wedding photo"></a>
                <span class="wedding__name small-name">Ekaterina & Alexander</span>
            </li>
        </ul>
    </div>
</section>